USE [AutoParts]
GO
/****** Object:  Table [dbo].[CarModel]    Script Date: 28.09.2017 21:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_CarModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarSubmodel]    Script Date: 28.09.2017 21:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSubmodel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[ReleaseYear] [int] NULL,
	[CarModelId] [int] NOT NULL,
 CONSTRAINT [PK_CarSubmodel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarSubmodelDetail]    Script Date: 28.09.2017 21:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSubmodelDetail](
	[CarSubmodel_Id] [int] NOT NULL,
	[Detail_Id] [int] NOT NULL,
 CONSTRAINT [PK_CarSubmodelDetail] PRIMARY KEY CLUSTERED 
(
	[CarSubmodel_Id] ASC,
	[Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28.09.2017 21:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail]    Script Date: 28.09.2017 21:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[CarSubmodelId] [int] NULL,
	[Price] [decimal](8, 2) NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarSubmodel]  WITH CHECK ADD  CONSTRAINT [FK_CarSubmodel_CarModel] FOREIGN KEY([CarModelId])
REFERENCES [dbo].[CarModel] ([Id])
GO
ALTER TABLE [dbo].[CarSubmodel] CHECK CONSTRAINT [FK_CarSubmodel_CarModel]
GO
ALTER TABLE [dbo].[CarSubmodelDetail]  WITH CHECK ADD  CONSTRAINT [FK_CarSubmodelDetail_CarSubmodel] FOREIGN KEY([CarSubmodel_Id])
REFERENCES [dbo].[CarSubmodel] ([Id])
GO
ALTER TABLE [dbo].[CarSubmodelDetail] CHECK CONSTRAINT [FK_CarSubmodelDetail_CarSubmodel]
GO
ALTER TABLE [dbo].[CarSubmodelDetail]  WITH CHECK ADD  CONSTRAINT [FK_CarSubmodelDetail_Detail] FOREIGN KEY([Detail_Id])
REFERENCES [dbo].[Detail] ([Id])
GO
ALTER TABLE [dbo].[CarSubmodelDetail] CHECK CONSTRAINT [FK_CarSubmodelDetail_Detail]
GO
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_CategoryDetail] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Detail] CHECK CONSTRAINT [FK_CategoryDetail]
GO
